# calsspath:application.yaml
BASIC_AUTH_USER=
BASIC_AUTH_PASSWORD=

DB_URL=
DB_USERNAME=
DB_PASSWORD=

PORT=8080

JWT_SECRET=
JWT_EXPIRATION=86400000

# docker-compose.yaml
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=